In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# initilize parameters

In [2]:
def initilize_parameters(x,y):
    m=x.shape[0]
    a=np.ones((m,1))
    x['ones']=a
    theta=np.zeros((x.shape[1],1))
    return theta

# computer cost

In [3]:
def compute_cost(x,y,theta):
    m=x.shape[0]
    J=0
    predcitons=predict(x,theta)
    squareError = np.power(predcitons-y,2)
    J=(1/2*m)*(np.sum(squareError))
    return J

#  predictions

In [4]:
def predict(x,theta):
    predictions = np.dot(x,theta)
    return predictions

#  Gradient desent

In [16]:
def gradientDesent(x,y,alpha,num_inters):
    theta=initilize_parameters(x,y)
    J_history=np.zeros((num_inters,1))
    m=x.shape[0]
    for i in range(1,num_inters+1):
        error = np.dot(x,theta)-y;
        theta= theta-((alpha/m)*(np.dot(x.T,error)))
        #print(error.shape)
        #print(theta.shape)
        #print((np.dot(x.T,error)).shape)
        if i%100==0:
            print(compute_cost(x,y,theta))

        J_history = compute_cost(x, y, theta)
    return theta

In [7]:
data=pd.read_csv('FuelConsumptionCo2.csv')
data.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [10]:
data.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [11]:
x=data[['ENGINESIZE','FUELCONSUMPTION_COMB']]
x.head()

   ENGINESIZE  FUELCONSUMPTION_COMB
0         2.0                   8.5
1         2.4                   9.6
2         1.5                   5.9
3         3.5                  11.1
4         3.5                  10.6

In [12]:
y=data[['CO2EMISSIONS']]
y.head()

   CO2EMISSIONS
0           196
1           221
2           136
3           255
4           244

In [17]:
theta=gradientDesent(x,y,0.01,400)

<ipython-input-2-54cd168c7e10>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['ones']=a

CO2EMISSIONS    5.658791e+08
dtype: float64
CO2EMISSIONS    5.264411e+08
dtype: float64
CO2EMISSIONS    4.956261e+08
dtype: float64
CO2EMISSIONS    4.701293e+08
dtype: float64

In [20]:
from sklearn.metrics import r2_score
y_predict=predict(x,theta)
print('accuracy: %.2f' % r2_score(y_predict, y))

accuracy: 0.84